body{
    margin: 0%;
    padding: 0;
}
.fondo{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("fondo1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5.5px) brightness(0.6);
    z-index: -1;
}

.textoB img{
    height: 135px;
    width: auto;
    transition: 0.3s;
    transform: translateY(20px);
}

.textoB img:hover{
    transform: translateY(15px) scale(1.05);
}
.navclas{
     position: fixed;
     top: 0;
     width: 100%;
     padding: 15px 40px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 10;
     box-sizing: border-box;
     height: 80px;
}

.menu a {
    color: white;
    transition: transform 0.3s;
    display: inline-block;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
}

.menu a:hover{
    transform: scale(1.1);
    color: black;
} 

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
    margin-top: 19px;
}

.portada{
    width: 100%;
    height: 550px;
    position: center;
    margin-top: 120px;
}

.myv{
    color: white;
    padding: 50px;
    text-align: center;
    background-color: black;
}
.myv h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.myv p{
    font-size: 17px;
    font-family: monospace;
    transition: all 0.3s ease;
}

.myv p:hover{
    transform: scale(1.05);
    color: rgb(14, 10, 214);
    font-family:cursive;
    font-size:19px ;
    text-shadow: 
     0 0 3px #210c99,
        0 0 6px #0f2cad;
}

.piedPagina{
    background: white;
    color:black;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin-top: 80px;
    font-family: monospace;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.pReferencia a img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 10px;
    transition: 0,3s;
    border-radius: 10px;
}

.pReferencia a img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px cyan;
}

.pReferencia,
.redesSociales,
.contacto{
    text-align: center;
}

.contacto{
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contacto img{
    width: 100px;
    height: 100px;
    transition: 0.3;
}

.contacto img:hover{
    transform: scale(1.1);
}

.redesSociales a img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 10px;
    transition: 0,3s;
    border-radius: 10px;
    
}

.redesSociales a img:hover{
    transform: scale(1.2);
    filter: brightness(1.2);
     box-shadow: 0 0 10px cyan;
}

.copy{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-top: 15px;
    padding-top:1px solid black;
    font-size: 14px;
    color: rgb(8, 8, 8);
}

.hola{
    flex-direction: column;
    font-size: 13px;
    margin: 0px;
    color: black;
}

.video{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 40px;
}

.video video{
    width: 1150px;
    border-radius: 12px;
     box-shadow: 0 0 20px greenyellow;
}

.video video:hover{
    transform: scale(1.02);
    transition: 0.3s;
}

.banner img{
    width: 1000px;
    height: 120px;
    transition: transform 0.5s ease;
}

.banner{
    display: flex;
    justify-content: center;
    margin: 40px;
    overflow: hidden;
}

.banner img:hover{
    transform: scale(1.02);
}

.ubicacion{
    text-align: center;
    padding: 40px 20px;
    color: white;
    margin-bottom: 50px

}

.ubicacion h2{
    margin-bottom: 20px;
    font-size: 30px;
}

.mapa{
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.mapa iframe{
    transition: all 0.3s ease;
    margin-bottom:40px ;
}

.mapa iframe:hover{
    transform:translateY(-5px);
}